#Self{
		position:		absolute;
		top:			30px;
		left:			50px;
		font-size:		40px;
	}
	
	#Name,#Birthday,#Game,#Hobby,#Food,#IsName,#IsBirthday,#IsGame,#IsHobby,#IsFood{
		position:		absolute;
		
	}
	
	#Name,#Birthday,#Game,#Hobby,#Food{
		left:			100px;
		font-size:		20px;
		transform: translate(0, +25%)
	}
	
	#IsName,#IsBirthday,#IsGame,#IsHobby,#IsFood{
		left:			350px;
		font-size:		30px;
	}
	
	#Name,#IsName{
		top:			100px;
	}
	
	#Birthday,#IsBirthday{
		top:			150px;
	}
	
	#Game,#IsGame{
		top:			200px;
	}
	
	#Hobby,#IsHobby{
		top:			250px;
	}
	
	#Food,#IsFood{
		top:			300px;
	}
	
	#Return{
		position:		absolute;
		left:			1000px;
		font-size:		20px;
		top:			400px;
	}
